<header class="flex justify-between items-center px-4 py-3">
  <div>
    <h1 class="text-4xl font-bold font-robotoMono">
      <a routerLink="/"
        >CIPO<span class="text-seaGreen ml-[-0.25rem]">.</span></a
      >
    </h1>
  </div>
  <div class="md:hidden">
    <button
      class="flex justify-center items-center border rounded-sm py-1 px-3 shadow-basic shadow-richBlack/25 dark:shadow-almond/25 inset-shadow-2xs inset-shadow-seaGreen/0 hover:inset-shadow-hover hover:inset-shadow-seaGreen transition-all duration-300"
    >
      <ng-icon name="iconoirMenu" class="text-2xl cursor-pointer"></ng-icon>
    </button>
  </div>
</header>
<nav></nav>
