<div class="container mx-auto px-4 mt-5 font-robotoMono">
  <div>
    <h1 class="font-montserrat text-2xl font-bold">
      {{ "About me 🙋‍♂️" | uppercase }}
    </h1>
    <p class="mt-5 mb-3">
      {{ "bio.par1.intro" | translate }}
      <span class="text-seaGreen font-bold">{{
        "bio.par1.name" | translate | uppercase
      }}</span
      ><span class="font-bold font-robotoMono"
        >, {{ "bio.par1.role" | translate }}</span
      ><span>&nbsp;{{ "bio.par1.end" | translate }}</span>
    </p>
    <p class="mb-3">
      {{ "bio.par2.intro" | translate }}
      <span class="font-bold font-robotoMono">{{
        "bio.par2.angular" | translate
      }}</span>
      <span>{{ "bio.par2.and" | translate }}</span>
      <span class="font-bold font-robotoMono">{{
        "bio.par2.spring" | translate
      }}</span>
      {{ "bio.par2.end" | translate }}
    </p>
    <p class="mb-3">{{ "bio.par3" | translate }}</p>
    <p class="">{{ "bio.par4" | translate }}</p>
  </div>
  <!-- <div class="w-[50%] mx-auto my-10">
    <img
      class="dark:invert-100"
      src="https://cdni.iconscout.com/illustration/premium/thumb/tech-support-illustration-download-in-svg-png-gif-file-formats--call-logo-helpdesk-helpline-hotline-online-web-hosting-pack-business-illustrations-3779855.png?f=webp"
      alt=""
    />
  </div> -->
  <div class="my-10">
    <h1 class="font-montserrat text-2xl font-bold">
      {{ "Skills 🔧" | uppercase }}
    </h1>

    <div class="mt-3">
      <div
        class="w-full px-5 py-2 flex justify-between items-center bg-richBlack/5 dark:bg-almond/10 rounded-lg border border-richBlack/5 dark:border-almond/10"
      >
        <div class="w-full text-center">
          <input
            type="radio"
            name="tech"
            id="frontend"
            class="peer hidden"
            checked
            value="front"
            [(ngModel)]="select"
          />
          <label for="frontend" class="techChecked">FrontEnd</label>
        </div>
        <div class="w-full text-center">
          <input
            type="radio"
            name="tech"
            id="backend"
            class="peer hidden"
            value="back"
            [(ngModel)]="select"
          />
          <label for="backend" class="techChecked">BackEnd</label>
        </div>
        <div class="w-full text-center">
          <input
            type="radio"
            name="tech"
            id="other"
            class="peer hidden"
            value="other"
            [(ngModel)]="select"
          />
          <label for="other" class="techChecked">Other</label>
        </div>
      </div>

      <div
        class="mt-3 border border-richBlack/5 dark:border-almond/10 p-5 rounded-lg bg-richBlack/5 dark:bg-almond/10 grid max-[500px]:grid-cols-2 grid-cols-3 sm:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 2xl:grid-cols-8 gap-10"
      >
        @if (select === "front") { @for (item of techs.front; track $index) {
        <ng-container>
          <ng-container
            *ngTemplateOutlet="techTemplate; context: { $implicit: item }"
          ></ng-container>
        </ng-container>
        } } @else if (select === "back") { @for (item of techs.back; track
        $index) {
        <ng-container>
          <ng-container
            *ngTemplateOutlet="techTemplate; context: { $implicit: item }"
          ></ng-container>
        </ng-container>
        } } @else { @for (item of techs.other; track $index) {
        <ng-container>
          <ng-container
            *ngTemplateOutlet="techTemplate; context: { $implicit: item }"
          ></ng-container>
        </ng-container>
        } }
      </div>
    </div>
  </div>
</div>

<ng-template #techTemplate let-item>
  <div
    class="border border-richBlack/5 dark:border-almond/10 rounded-lg p-4 flex flex-col justify-center items-center bg-almond/10 dark:bg-richBlack/10 hover:bg-almond/25 dark:hover:bg-richBlack/25 hover:shadow-accent hover:shadow-tech transition-all duration-300"
  >
    <img
      class="w-[50%]"
      [src]="'tech/' + item.logo"
      [alt]="item.name"
      loading="lazy"
    />
    <p class="uppercase font-robotoMono font-bold text-sm">{{ item.name }}</p>
  </div>
</ng-template>
