<div
  class="bg-black/0 w-0 top-0 right-0 bottom-0 absolute z-10 transition-all duration-700 ease-in-out overflow-hidden md:hidden"
  [ngClass]="{ 'w-full bg-black/50': open }"
>
  <div
    class="absolute z-10 right-0 top-0 bottom-0 bg-richBlack dark:bg-almond text-almond dark:text-richBlack transition-all duration-700 ease-in-out inset-shadow-sidebar dark:inset-shadow-richBlack/50 inset-shadow-almond/50"
    [ngClass]="{
      'w-30 ': open,
      ' w-0': !open
    }"
  >
    <div class="mt-[85px]">
      <nav class="px-5">
        <ul class="flex flex-col space-y-3">
          <ng-content select="[nav-link]"></ng-content>
        </ul>
      </nav>
      <div class="flex flex-col space-y-5 mt-5">
        <ng-content select="[utils]"></ng-content>
      </div>
    </div>
  </div>
</div>
