<div class="min-h-[var(--navbar-height)] flex justify-center items-center">
  <H1 class="flex justify-center items-center"
    >Work in progress
    <span class="ml-3"
      ><span class="relative flex size-3">
        <span
          class="absolute inline-flex h-full w-full animate-ping rounded-full bg-accent opacity-75"
        ></span>
        <span
          class="relative inline-flex size-3 rounded-full bg-seaGreen"
        ></span> </span
    ></span>
    <span class="ml-3"
      ><span class="relative flex size-3">
        <span
          class="absolute inline-flex h-full w-full animate-ping rounded-full bg-accent opacity-75"
        ></span>
        <span
          class="relative inline-flex size-3 rounded-full bg-seaGreen"
        ></span> </span
    ></span>
    <span class="ml-3"
      ><span class="relative flex size-3">
        <span
          class="absolute inline-flex h-full w-full animate-ping rounded-full bg-accent opacity-75"
        ></span>
        <span
          class="relative inline-flex size-3 rounded-full bg-seaGreen"
        ></span> </span
    ></span>
  </H1>
</div>
